[Unit]
Description=Abassian Gbas bootnode mainnet
After=network.target

[Service]
Type=forking
User=root
Group=root
WorkingDirectory=/home/root
EnvironmentFile=/home/root/.abassian/mainnet/.env
ExecStart=/home/root/.abassian/bootnode-nohup.sh
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=bootnode_mainnet

[Install]
WantedBy=multi-user.target
