[Unit]
Description=Abassian gbas node mainnet
After=network.target

[Service]
Type=forking
User=root
Group=root
WorkingDirectory=/root
EnvironmentFile=/root/.abassian/mainnet/.env
ExecStart=/root/.abassian/client-nohup.sh
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=gbas_mainnet

[Install]
WantedBy=multi-user.target
