[Unit]
Description=Abassian gbas node testnet
After=network.target

[Service]
Type=forking
User=root
Group=root
WorkingDirectory=/home/root
EnvironmentFile=/home/root/.abassian/testnet/.env
ExecStart=/home/root/.abassian/client-nohup.sh
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=gbas_testnet

[Install]
WantedBy=multi-user.target
