[Unit]
Description=Ethereum gbas node testnet
After=network.target

[Service]
Type=forking
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu
EnvironmentFile=/home/ubuntu/.abassian/testnet/.env
ExecStart=/home/ubuntu/.abassian/client-nohup.sh
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=gbas_testnet

[Install]
WantedBy=multi-user.target
